.*/
__pycache__/
bin/
past-versions/
.cache
# bot tokens
devtoken.txt
token.txt
# testing config
*.ini
config.yml
config_old.yml
configtest.yml
# credentials
spotify_config.json
test_spotify_config.json
headers_auth.json
# misc testing files
yttesting.py
quickstart.sh
*.pickle
test_*.py
# backups of files in case i need to roll back after a big change
bot_*.py
spoofy_*.py
# log files & downloaded media files from bot testing
*.log
*.part
*.mp3
*.wav
*.ogg
*.m4a
*.mp4
*.webm
# other
.vscode/
.github/
build/
dist/
venv/
*.spec
versioningconvention.txt
new-release.bat
.markdownlint.json
