--- # Copy this to "config.yml" before modifying!
#####

# Please keep this file so that you can refer back to its comments
# Comments will be lost if config.yml updates automatically

# Booleans may be yes/no, on/off, or true/false

# Config is loaded once when `bot.py` is run, so changes made here won't go into
# effect until after it is restarted

#####

# The color to use on the side of bot messages
embed-color: "ff00ff"

# Automatically updates config.yml with any missing options present in config_default.yml
auto-update-config: no

# Should be yes/on/true almost always
# Currently only decides which prefix to use (true = public, false = developer) 
public: yes

# Path to the text file containing the bot's token
token-file: "token.txt"

# Set your command prefix here
prefixes:
    public: "-"
    developer: "$"

# Toggles voting to skip; if this is disabled, -skip will skip the currently playing track instantly
# If enabled, you will enough users to use -skip on the same song before it will actually skip it
vote-to-skip:
    enabled: yes
    # A percentage of users connected to voice required to skip a song; does nothing if vote-to-skip is disabled
    threshold-type: "percentage"
    threshold-percentage: 50
    threshold-exact: 3

# Toggles whether -nowplaying and -queue will show names of who queued what
show-users-in-queue: yes

# Toggles the usage of the URL cache, which is intended to slightly speed up queuing times
# You may disable this if it is causing problems for you (if it is, please submit an issue reporting the bug)
use-url-cache: yes

# List of file extensions the bot will detect and delete on startup; must start with a "."
auto-remove:
    - ".part"
    - ".mp3"
    - ".wav"
    - ".ogg"
    - ".m4a"
    - ".mp4"
    - ".webm"

# Allows queueing entire Spotify playlists
allow-spotify-playlists: yes

# Limit the amount of tracks Spotify playlists can have before queueing
spotify-playlist-limit: 50

# Forces Spotify links to not find an automatic YouTube match,
# and will always trigger the choice menu
force-no-match: no

# Automatically queues the top result of a Spotify-YouTube match,
# regardless of how close the match is
use-top-match: yes

# Prevent videos over this limit (in hours) from being queued
duration-limit: 5

# Leave the voice channel if nothing has been playing for this many minutes
# Setting this to 0 will disable it entirely and never automatically leave
inactivity-timeout: 10

# Customizable command aliases
# Any commands not listed will only work with their default name
aliases:
    analyze:
        - "analyse"
    join:
        - "j"
    loop:
        - "l"
    move:
        - "m"
    nowplaying:
        - "np"
    play:
        - "p"
    queue:
        - "q"
    repository:
        - "repo"
        - "github"
        - "gh"
    skip:
        - "s"
    clearcache:
        - "emptycache"
        - "flushcache"

# Any commands listed here will be disabled from use
command-blacklist:
    # -reload re-imports the spoofy.py file used by the script
    # This is for testing and should be left disabled otherwise
    - "reload"

# Set various options for output logs
logging-options:
    # Everything still outputs to vimusbot.log regardless of the options below
    # Toggle outputting logs from bot.py and/or spoofy.py to the console
    show-console-logs:
        bot.py: yes
        spoofy.py: yes
    # Certain logs are tagged as "verbose"; these are messages that are useful for debugging, but may be seen as screen clutter for most users
    # This toggles whether they will be displayed in the command line (verbose logs are sent to vimusbot.log regardless of this setting)
    show-verbose-logs: yes
    # Ignore logs from specific functions (blue text in logs, by default)
    ignore-logs-from:
        - "search_ytmusic"
    # Choose your preferred log colors
    colors:
        # Run "palette.py" to see a list of choices
        no-color: no # Disables all message coloring
        bot.py: "yellow" # For logs from bot.py
        spoofy.py: "lime" # For logs from spoofy.py
        warn: "gold" # For non-serious warning messages
        error: "red" # For tracebacks and/or fatal errors
        timer: "magenta" # The time between logs at the end of each message
        function: "blue" # For function names